.TitleHolder
{
    /* border: 2px solid #f700da ; */
    margin: auto;
    display: flex;
    justify-content: center;
}

.TitleHolder h1
{
    font-family: Sans-serif; font-size: 40px;
    font-weight: 600;
    margin-top: 3%;
    color: #025464;
}

.ParagraphHolder
{
    justify-content: center;
    display: flex;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.0rem;

    min-width: 700px;
    width: 40%;
    padding: 50px;  
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #025464;
}

.ParagraphHolder h1
{
    font-family: Sans-serif; font-size: px;
    text-align: center;
    margin: auto;
    justify-content: center;
    margin-bottom: 5%;
    color: #fff;

}

.ParagraphHolder p1
{
    color: #fff;
    padding: 10px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
}

.Pics
{
    margin: auto;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    /* border: 3px solid #040404; */

}

.Pics li 
{
    float: none;
    display: inline-block;
    display: inline;

    /* border: 2px solid red; */
}

.Pics ul 
{
    border-radius: 50px;

    text-align: center;
    /* border: 2px solid #0e7967 ; */
}

.Pics li img
{
    height: 200px; /* you can use % */
    /* border: 2px solid #353412 ; */
    width: 300px
}

.rightPic
{
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

.leftPic
{
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.footer
{
    /* border: 2px solid #08fa24 ; */
    height: 50px;
}


.LandingPageBackground {
    background-size: cover;
    background-position: center;
    

}