

.NavigationImage {
    width: 95px;
    height: 95px;
    z-index: 998;
}


.LandingPageBackground {
    background-color: #025464;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #025464;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 998;
    width: 100%; /* Make sure the navigation bar spans the full width of the viewport */
}


#Navigation {
    z-index: 998;
}


nav h1 {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    display: flex;
    z-index: 998;
   
}

li button {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    display: flex;
    border: none;
    background: none;
    z-index: 998;
}
li button:hover {
    color: #e57c23;
}

#NavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
}

#NavBar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    z-index: 998;
}


#NavBar li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
    z-index: 998;
}

.Login-SignUp-btn-styles {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
    border: none;
    background: none;
    cursor: pointer;
}

.Login-SignUp-btn-styles:hover {
    color: #e57c23;
}

.Login-SignUp-btn-styles:hover::after{
    content: "";
    width: 75%;
    height: 2px;
    background-color: #e57c23;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#NavBar li a:hover {
    color: #e57c23;
   
}

#NavBar li a:hover::after{
    content: "";
    width: 75%;
    height: 2px;
    background-color: #e57c23;
    position: absolute;
    bottom: -4px;
    left: 20px;
    
}

#mobile i {
    color: #fff;
    align-items: center;
  
}

#mobile {
    display: none;
   
}

@media screen and (max-width:1209px) {
    #NavBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        z-index: 998;
        background: linear-gradient(to bottom, #025464, #011114);
    }

    #NavBar li {
        margin-bottom: 25px;
        
    }

    #NavBar.active {
        right: 0px;
     
    }

    #mobile {
        display: block;
       
    }


    #mobile i {
        font-size: 24px;
        cursor: pointer;
       
    }
}

.close-btn {
    width: 20px;
    background: none;
    border: none;
    color: white;
    text-align: right;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
}

.close-btn:hover {
    color: #e57c23;
    transition: 0.3s ease-in-out;
}


.auth-form-container {
    background-image: linear-gradient(180deg, #025464, #e57c23);
    border-radius: 20px;
    box-shadow: 0 2px 5px #ccc;
    padding: 40px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    z-index: 999;
  }

  .auth-form-container label {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    padding-bottom: 80px;
    
  }


  .LoginCard label {
    text-align: left;
    padding-bottom: 0px;
    padding-top: 10px;
    
  }

  .LoginCard input {
    margin: 0.5rem 0;
    padding: 1.5rem;
    border: none;
    width: 100%;
    border-radius: 10px;
    font-size: 1.3rem;
  }
  
  .SignUpCard input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    width: 100%;
    border-radius: 10px;
  }


 .LoginSignUp-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .Login-SignUp-btn-styles-background {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
    border:  10px solid #e57c23;
    border-radius: 5px;
    background: #e57c23;
    cursor: pointer;
 }


 .Logout-btn {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
    border:  10px solid #e57c23;
    border-radius: 5px;
    background: #e57c23;
    cursor: pointer;
 }

.Logout-btn:hover {
    background: #fff;
    border: 10px solid #fff;
    color: #025464;
}


 .Login-SignUp-btn-styles-background:hover {
    background: #fff;
    border: 10px solid #fff;
    color: #025464;
 }

  .register-btn {
    background: none;
    color: white;
    text-decoration: underline;
    border: none;
    font-size: medium;
    cursor: pointer;
  }

.LoginSignUp-btn:hover {
    background-color: #025464;
    color: white;
  }


  .LoginSignUp-btn{
    border: none;
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 0.5rem 0;
    width: 100%;
    cursor: pointer;
    color: #e57c23;
    font-weight: 600px;
    transition: 0.3s ease-in-out;
    font-size: 1.8rem;
    
}

.LoginCard {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Adjust the desired gap between elements */
    margin-left: auto;
    margin-right: auto; 
    width: 400px;
}

nav, nav * {
  font-family: "Your Font Family", sans-serif;
}

  