.Donation-container {
    background-color: #025464;
    border-radius: 20px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px 40px 20px 40px;
    width: 350px;
    position: absolute;
    top: 450px;
    left: 160px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-height: 100vh;

}

@media (max-width: 1730px) {
    .Donation-container {
        display: none;

    }
  }

.Donation-container h1 {
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 50px;

}

.Donation-container a img{
    background-color: #fff;
    width: 100%;
    border: 10px solid #fff;
    border-radius: 20px;
    margin-block-end: 10px;
    height: 100px;
    transition: 0.2s ease-in-out;
    object-fit: contain;

}

.Donation-container a img:hover {
   
    border: 10px solid #025464;
}