

.NewPost-inner {
  background-color: #e57c23;
  border-radius: 10px;
  width: 1000px; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  align-self: stretch;
  box-shadow: 0 5px 8px grey;
  position: relative;
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 170px auto 0 auto;
}

@media screen and (max-width: 1730px) {
  .NewPost-inner {
    /* Adjust the width to move it to the left side */
    margin-right: 900px; /* Add a left margin to position it on the left */
    margin-left: auto;
  }
}

@media screen and (max-width: 1478px) {
  .NewPost-inner {
    margin-left: auto;
    margin-right: auto;
   
  }
}
  .NewPost-text {
    flex: 1;
  padding: 10asdfpx;
  color: black;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 20px;
  font-size: 1.3rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-top: 10px;
  height: auto;
  }

   .NewPost-button {
    background-color: #025464;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 50px;
  width: 100px;

   }

   .NewPost-button:hover {
    background-color: #fff;
    color: #025464;
   }

   .NewPost-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .NewPost-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 10px solid white;
  }
  
  .ChooseFile-button {
    background-color: #025464;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 50px;
  width: 100px;
  }
  

  .ChooseFile-button:hover {
    background-color: #fff;
    color: #025464;
  }

  .NewPost-file-input {
    display: none;
  }


  .buttons {
    display: flex;
    justify-content: center;
  }


  .NewPost-text::placeholder {
    font-family: "Your Font Family", sans-serif;
  }
  
  .NewPost-file-input::placeholder {
    font-family: "Your Font Family", sans-serif;
  }
