.navigation-logo-search {
    display: flex;
    align-items: center;
  }
  
  .search-container {
    display: flex; /* Add this line to use flexbox */
    justify-content: space-between; /* Add this line to distribute items */
    align-items: center;
    position: relative;
    
  }
  
  .search-input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 8px;
    margin-left: 80px;
    border-radius: 15px;
    font-size: 1.3rem;
  }
  
  
  .search-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  .search-results {
    margin-left: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 1.3rem; /* Set the font size to 1.3rem */
  }
  
  
  
  .search-results > div {
    margin-bottom: 5px;
    list-style-type: none;
  }
  

  .follow-button {
    background-color: #e57c23;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
   }
  
  
  .follow-button.following {
    background-color: #025464;
    color: white;
  }
  